:root {
  --red: #ff1859;
  --blu: #00b8ff;
  --ylw: #ffed00;
  --blk: #000;
  --wht: #fff;
}

html {
  scroll-behavior: smooth;
 

}

body {
  font-family: roboto;
  font-size: 1rem;
  color: var(--wht);
  background: var(--blk)
}

h1 {
  font-weight: 700;
  font-size: clamp(2.125rem, 1.4648rem + 2.8169vw, 4rem);
  padding: 1rem 0;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  text-align: center;
  padding: 0.6rem 0;
}



a {
  text-decoration: none;
}
