.films {
  margin: 2rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}

.film {
  padding: 1.2rem;
  color: var(--wht);
  background: var(--blk);
  height: fit-content;
  max-width: 100%;
  border-radius: 0.75rem;
  border: 2px solid var(--red);
  transition: all 0.3s ease;
  box-shadow:
    0 0 0.3rem var(--red),
    0 0 0.6rem var(--red),
    0 0 1rem var(--red);
}

.film:hover {
  border-color: var(--red);
  box-shadow:
    0 0 1rem var(--red),
    0 0 1.2rem var(--red),
    0 0 1.5rem var(--red);
}
