.planets{
  margin: 30px 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
}

.planet {
  overflow: hidden;
  padding: 20px;
  color: var(--wht); 
  background: var(--blk);
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid var(--ylw);
  transition: all 0.3 ease;
  box-shadow:
    0 0 5px var(--ylw),
    0 0 10px var(--ylw),
    0 0 15px var(--ylw);
}

.planet:hover {
  border-color: var(--ylw);
  box-shadow:
    0 0 15px var(--ylw),
    0 0 20px var(--ylw),
    0 0 25px var(--ylw);
}