.species{
  margin: 2rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}

.speciesItem {
  overflow: hidden;
  padding: 1.2rem;
  color: var(--wht); 
  background: var(--blk);
  height: fit-content; 
  border-radius: 0.75rem;
  border: 2px solid var(--blu);
  transition: all 0.3s ease;
  box-shadow:
    0 0 0.3rem var(--blu),
    0 0 0.6rem var(--blu),
    0 0 1rem var(--blu);
}

.speciesItem:hover {
  border-color: var(--blu);
  box-shadow:
   0 0 1rem var(--blu),
    0 0 1.2rem var(--blu),
     0 0 1.5rem var(--blu);
}