.species{
  margin: 30px 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
}

.speciesItem {
  overflow: hidden;
  padding: 20px;
  color: var(--wht); 
  background: var(--blk);
  aspect-ratio: 4 / 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid var(--red);
  transition: all 0.3 ease;
  box-shadow:
    0 0 5px var(--blu),
    0 0 10px var(--blu),
    0 0 15px var(--blu);
}

.speciesItem:hover {
  border-color: var(--blu);
  box-shadow:
    0 0 15px var(--blu),
    0 0 20px var(--blu),
    0 0 25px var(--blu);
}

.Detail {
    display: flex;
    justify-content: space-between; 
    padding: 0.6rem 0;
    border-top: 1px solid yellow;

}

.label {
  color: var(--wht);
  white-space: nowrap;
}

.value {
  font-weight: 600;
  color: var(--wht);
  text-align: right;
  word-break: break-word;
}