nav {
    background: var(--blk);
    width: 100%;
}

nav>ul {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    font-size: 0.875rem;
}

nav>ul>li {
    list-style: none;
    color: var(--wht);
}

nav a {
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer; 
}
nav a:hover {
  text-decoration: underline;
}